.popover.bottom {
	background-color: #f35958 !important;
	    margin-top: 4px !important;
	color: #fff;
}
.popover.bottom>.arrow{
	border-width: 7px !important;
	    top: -14px !important;
}
.popover.bottom>.arrow:after{
    border-bottom-color: #f35958 !important;
	border-width: 7px !important;
	top: -7px !important;
	margin-left: -9px !important;
}
.popover.bottom .popover-content{
	padding: 2px !important;
	font-size: 11px !important;
}